<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        /* Simple Navbar Styling */
        nav {
            background: #333;
            padding: 12px;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
        }
        nav a:hover {
            color: yellow;
        }
    </style>

    <nav>
        
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact' %}">Contact</a>

    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>